<h2>Login</h2>
<title>Login(fixed)</title>
<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Login</button>
</form>

<h2>Register</h2>
<form id='register' action='/register/' method="GET">
  {% csrf_token %}
  <input type="submit" value="Register"/>
</form>

<h2>Forgot password?</h2>
<!-- Fix Flaw 4 -->
<p></p>
<form id='alt_recover' action='/web_sms/password_reset/' method="GET">
  <input type="submit" value="Recover password (fixed)"/>
</form>
<!-- End Fix Flaw 4 -->